{:environment #profile {:local "local"
                         :prod "prod"}
  :firebase #profile {:local {:apiKey        ""
                              :appId         ""
                              :projectId     ""
                              :authDomain    ""
                              :databaseURL   ""
                              :storageBucket ""}
                      :prod   {:apiKey        ""
                              :appId         ""
                              :projectId     ""
                              :authDomain    ""
                              :databaseURL   ""
                              :storageBucket ""}}}
